<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <style>
        ol{
            text-align: center;
            list-style: none;
        }
    </style>
</head>
<body>
    <ol>
        <li th:text="${employee.getFirstName()}"></li>
        <li th:text="${employee.getLastName()}"></li>
        <li th:text="${employee.getGender()}"></li>
        <li th:text="${employee.getDepartment()}"></li>
        <li th:text="${employee.getJobTittle()}"></li>
        <li th:text="${employee.getBirthday()}"></li>
    </ol>
</body>
</html>